.bold{
    font-weight: 800;
}

.search-results-p{
    border-bottom: 1px solid #D9D9D9;
}

@media(min-width: 1000px){
    .search-results-con{
        width: 700px;
        /* background-color: brown; */
    }
}


/* TAGS RESULTS */
/* .img-thumbnail{
    border: none;
}
.img-thumbnail {
    text-decoration: none;
    border: none;
    width: 100%;
    padding-left: 4px;
    border-radius: 0;
}

.square-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.square-image img,
.profile-pic-profile img {
    position: absolute;
} */

.tags-result-img{
    object-fit: cover;
    width:120px;
    height:120px;
    margin-right: 20px;
}

@media(min-width: 700px){
    .tags-results{
        /* background-color: aqua; */
        width: 690px;
    }
}


.tag-results{
    font-weight: 800;
}

.results-title{
    margin-top: 25px;
    padding-bottom: 50px;
}