.bold{
    font-weight: 800;
}

.search-results-p{
    border-bottom: 1px solid #D9D9D9;
}

@media(min-width: 1000px){
    .search-results-con{
        width: 700px;
        /* background-color: brown; */
    }
}


/* TAGS RESULTS */
.img-thumbnail{
    border: none;
}
.square-image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.square-image img{
    position:absolute;
}

@media(min-width: 700px){
    .tags-results{
        /* background-color: aqua; */
        width: 690px;
    }
}


.tag-results{
    font-weight: 800;
}

.results-title{
    margin-top: 25px;
    padding-bottom: 50px;
}